<div>
    <label>Text you want to analyze:</label>
    <textarea [(ngModel)]="myText"></textarea>
</div>

<div>Please select the lexical set you want to look for:</div>

<input #box type="text">

<button (click)="containsThisPhoneme(box.value, myText)">Analyze please</button>

<div>You looked for: {{ box.value }}.</div>

<div *ngFor="let member of resultsArray[box.value]">
  <div>Line {{ member.lineNumber }} : {{ member.line }}</div>
  <div *ngFor="let word of member.resultObj">
    <strong>{{ word }}</strong>
  </div>
</div>
